* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
    		height: 100%;
    		margin: 0;
    		padding: 0;
    	}

.topSection{
	width: 100%; 
	height: 100%;

	background: url('../img/mountain.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}

	div.title-text{

		position: relative;
		top: 30%;

		text-align:center;
		vertical-align:middle;
	}

	.topSection h1, h3{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 300;
		color: #58585A;

		padding: 10px;
		margin: 0px;
	}

	.topSection h1 {
		font-size: 50px;
	}

	.topSection h3 {
		font-size: 25px;
	}

.aboutMe{
	width: 100%; 
	height: auto;

	padding: 25px;

	background-color: white;
	}


	.aboutMe h1{

		text-align:center;


		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		color: #58585A;
		font-weight: 200;

		padding: 10px;
		margin: 0px;

		font-size: 50px;
	}

	.container{

		position: relative;

		margin-left: 15px;
		margin-right: 15px;
	}

	.profileImage {
		position: absolute;
		margin-left: 5%;
		}


	img.profilePic {
		width: auto;
		max-height: 50%;
		margin-left: 30px;
	}

	.aboutMeText{
		margin-left: 45%;
		margin-right: 5%;
	}

	.aboutMeText p{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		color: #58585A;
		font-weight: 200;

		font-size: 20px;
		    line-height: 130%;

	}

.skills{
	width: 100%;
	padding-bottom: 1px;
	height: auto;

	background-color: #F3F3F4;
	}

	.skills h1{
		text-align:center;


		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		color: #000000;
		font-weight: 200;

		padding: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0px;

		font-size: 50px;

	}

	.skillsContainer{
		position: relative;

		margin-left: 15px;
		margin-right: 15px;

	}

	.skillsContainer .skillCell {
		padding-left: 20%;
		padding-right: 10%;	
		margin-bottom: 40px;
	}

	.skillTitle{
	  float: left;
	  width: 20%;
		}

		.skillTitle h3{
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #424243;
			font-weight: 200;
			font-size: 30px;
		}

	.skillInfo{
		padding-left: 40%;
	}

		.skillInfo p{
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #8A8C8F;
			font-weight: 200;
			font-size: 25px;
		}

.projects{
	width: 100%;
	max-height: 80%; 
	height: auto;
	}

	.projects h1{
			text-align:center;


			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #000000;
			font-weight: 200;

			padding: 10px;
			padding-top: 20px;
			padding-bottom: 20px;
			margin: 0px;

			font-size: 50px;
		}

	.proj{
		width: 100%;
		min-height: 100px;

		border-top-style: solid;
		border-bottom-style: solid;
    	border-width: 1px;
    	border-color: #58585A;

    	


	}






















